.invalid-feedback {
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    font-size: .75rem;
    color: #ff5b5b;
}
#filterBox{
    display: none;
}

#filter-form{
    border: 1px solid #dee2e6;
    padding: 10px;
}

.b-l {
    border-left: 1px solid rgba(120,130,140,.13);
}

.filter-button{
    margin-top: 28px;
}
